[mysqld]
slow_query_log = ON
slow_query_log_file = /var/log/mysql-slow.log
long_query_time = 0.1
log_output=TABLE
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

#query_cache_type = 1
#query_cache_size = 128M
#table_open_cache = 200
#thread_cache_size = 100
innodb_buffer_pool_size = 1024M
#innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
#sort_buffer_size = 512K
#key_buffer_size = 16M

#max_allowed_packet = 512M
#max_connections = 1024

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
